<div id="<%= dom_id list_item %>">
  <p>
    <strong>List:</strong>
    <%= list_item.list_id %>
  </p>

  <p>
    <strong>Item:</strong>
    <%= list_item.item_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= list_item.quantity %>
  </p>

</div>
